@import url("https://fonts.googleapis.com/css?family=Roboto:300,regular,700,900&display=swap&subset=cyrillic-ext");

@import url("https://fonts.googleapis.com/css?family=Merriweather:900&display=swap&subset=cyrillic-ext");

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2#icons") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"]::before,
[class*=" _icon-"]::before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="_icon-"]::before,
[class*=" _icon-"]::before {
  display: block;
}

._icon-arrow:before {
  content: "\e900";
}

._icon-clock:before {
  content: "\e901";
}

._icon-email:before {
  content: "\e902";
}

._icon-location:before {
  content: "\e903";
}

._icon-phone:before {
  content: "\e904";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Roboto";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Roboto";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000;
  font-size: 16px;
  font-weight: 300;
  line-height: 138.88889%;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1110px;
  margin: 0 auto;
}

.form-contact {
  padding: 20px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-contact__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px 0px 35px 0px;
}

.form-contact__input {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 255px;
          flex: 0 1 255px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  padding: 0px 25px 0px 0px;
}

.form-contact__input_big {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.form-contact__input:last-child {
  padding: 0px 0px 0px 0px;
}

.input {
  font-weight: 300;
  font-size: 21px;
  line-height: 138.09524%;
  color: #BDBDBD;
  background: transparent;
  border-bottom: 1px solid #FFFFFF;
  padding: 15px 0px;
}

.label {
  font-weight: 400;
  font-size: 16px;
  line-height: 137.5%;
  color: #FFFFFF;
}

.form__btn {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 18px;
  background: #005FA3;
  font-weight: 400;
  text-align: center;
  color: #FFFFFF;
  width: 270px;
  -webkit-transition: background 0.3s ease 0s;
  -o-transition: background 0.3s ease 0s;
  transition: background 0.3s ease 0s;
}

.btn._fw {
  width: 100%;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
}

textarea.input {
  resize: none;
  padding: 15px 0px 0px;
  height: 100px;
  margin: 0px 0px 15px 0px;
}

.title__forehead {
  font-weight: 900;
  font-size: 24px;
  line-height: 137.5%;
  color: #BDBDBD;
  margin: 0px 0px 35px 0px;
}

.title__text {
  font-family: Merriweather;
  font-weight: 900;
  font-size: 48px;
  line-height: 143.75%;
  color: #333333;
}

.title__text span {
  color: #005FA3;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

#map {
  background: url("../img/icons/loading.gif") center/50px no-repeat;
}

._swiper {
  overflow: hidden;
}

._swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

._swiper.swiper-container-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._swiper.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

.slider-dotts {
  position: absolute;
  bottom: 0px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider-dotts .swiper-pagination-bullet {
  cursor: pointer;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10px;
          flex: 0 0 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0px 40px 0px 0px;
  background: rgba(0, 95, 163, 0.4);
}

.slider-dotts .swiper-pagination-bullet:last-child {
  margin: 0px 0px 0px 0px;
}

.slider-dotts .swiper-pagination-bullet-active {
  background: #005FA3;
}

.slider-dotts_gray {
  bottom: 110px;
}

.slider-dotts_gray .swiper-pagination-bullet {
  background: rgba(255, 255, 255, 0.4);
}

.slider-dotts_gray .swiper-pagination-bullet-active {
  background: #fff;
}

.slider-button-prev {
  position: absolute;
  bottom: 0px;
  right: 60px;
  width: 60px;
  height: 60px;
  cursor: pointer;
  -webkit-transition: background 0.3s ease 0s;
  -o-transition: background 0.3s ease 0s;
  transition: background 0.3s ease 0s;
}

.slider-button-prev::before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 60px;
  font-size: 15px;
  color: #fff;
  width: 60px;
  height: 60px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  background: rgba(0, 95, 163, 0.2);
}

.slider-button-prev_gray {
  bottom: 110px;
}

.slider-button-prev_gray::before {
  background: rgba(255, 255, 255, 0.2);
}

.slider-button-next {
  position: absolute;
  bottom: 0px;
  right: 0;
  width: 60px;
  height: 60px;
  cursor: pointer;
  -webkit-transition: background 0.3s ease 0s;
  -o-transition: background 0.3s ease 0s;
  transition: background 0.3s ease 0s;
}

.slider-button-next::before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 60px;
  font-size: 15px;
  color: #fff;
  width: 60px;
  height: 60px;
  background: rgba(0, 95, 163, 0.2);
}

.slider-button-next_gray {
  bottom: 110px;
}

.slider-button-next_gray::before {
  background: rgba(255, 255, 255, 0.2);
}

._custom-scroll {
  position: fixed;
  right: 0;
  top: 0;
  width: 3px;
  height: 100%;
  z-index: 1000;
}

._custom-scroll__line {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px 0 0 3px;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}

.popup {
  -webkit-overflow-scrolling: touch;
  z-index: 100;
  padding: 30px 10px;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
}

.popup::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
}

.popup.show {
  visibility: visible;
  overflow: auto;
}

.popup.show::before {
  opacity: 1;
}

.popup.show .popup__body {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup._active {
  overflow: auto;
  visibility: visible;
}

.popup._active::before {
  opacity: 1;
}

.popup._active .popup__body {
  -webkit-transition: all 0.3s ease 0.2s;
  -o-transition: all 0.3s ease 0.2s;
  transition: all 0.3s ease 0.2s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__body {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #fff;
  padding: 50px;
  width: 100%;
  max-width: 800px;
}

.popup__close {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  z-index: 30;
  background: url("../img/icons/close.svg") 0 0 no-repeat;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  background: rgba(229, 229, 229, 0.7);
}

.header._scroll .header__row {
  height: 80px;
}

.header__row {
  -webkit-transition: height 0.3s ease 0s;
  -o-transition: height 0.3s ease 0s;
  transition: height 0.3s ease 0s;
  height: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  position: relative;
  z-index: 10;
}

.logo-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo-header__link {
  margin: 0px 30px 0px 0px;
}

.logo-header__link:last-child {
  margin: 0px 0px 0px 0px;
}

.logo-header__name {
  font-family: Merriweather;
  font-weight: 900;
  font-size: 36px;
  line-height: 138.88889%;
  color: #005FA3;
}

.contacts-list-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 22px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contacts-list-menu li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts-list-menu__ico {
  color: #005FA3;
  margin: 0px 15px 0px 0px;
}

.contacts-list-menu__link {
  font-weight: 400;
  font-size: 13px;
  line-height: 130.76923%;
  color: #000000;
  border-bottom: 1px solid transparent;
  -webkit-transition: border-bottom 0.3s ease 0s;
  -o-transition: border-bottom 0.3s ease 0s;
  transition: border-bottom 0.3s ease 0s;
}

.sections-list-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sections-list-menu li {
  margin: 0px 66px 0px 0px;
}

.sections-list-menu li:last-child {
  margin: 0px 0px 0px 0px;
}

.sections-list-menu__link {
  font-weight: 700;
  font-size: 14px;
  line-height: 121.42857%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #222222;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.icon-menu {
  display: none;
}

.services {
  padding: 110px 0px 0px 0px;
  background: #EBEBEB;
}

.slider-services__wrapper {
  min-height: 670px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider-services__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.slider-services__img {
  min-height: 100%;
}

.slider-services__container {
  padding: 170px 0px 140px 0px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  z-index: 1;
}

.slider-services__container *:last-child {
  margin: 0px 0px 0px 0px;
}

.slider-services__title {
  max-width: 600px;
  font-family: Merriweather;
  font-weight: 700;
  font-size: 48px;
  line-height: 137.5%;
  color: #FFFFFF;
  margin: 0px 0px 80px 0px;
}

.slider-services__block {
  position: relative;
}

.specialization {
  padding: 140px 0px 110px 0px;
  background: #EBEBEB;
}

.specialization__title {
  margin: 0px 0px 100px 0px;
}

.specialization__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px -15px;
}

.specialization__column {
  padding: 0px 15px;
  margin: 0px 0px 30px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

.content-specialization {
  display: block;
  position: relative;
  z-index: 1;
}

.content-specialization__opaciti {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 350px;
  -webkit-transition: background .3s ease 0s;
  -o-transition: background .3s ease 0s;
  transition: background .3s ease 0s;
  background: rgba(0, 0, 0, 0.65);
}

.content-specialization__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  min-height: 350px;
  padding: 45px 20px 45px 45px;
}

.content-specialization__container img {
  z-index: 0;
}

.content-specialization__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 200px;
          flex: 0 1 200px;
  font-weight: 900;
  z-index: 1;
  font-size: 24px;
  line-height: 125%;
  color: #FFFFFF;
}

.about-us {
  padding: 140px 0px 110px;
}

.about-us__items {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
}

.company-about-us *:last-child {
  margin: 0px 0px 0px 0px;
}

.company-about-us__title {
  margin: 0px 0px 60px 0px;
}

.items-about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 20px -15px 0px;
}

.items-about-us__item {
  padding: 0px 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 285px;
          flex: 0 1 285px;
  margin: 0px 0px 30px 0px;
}

.items-about-us__item:hover .items-about-us__block {
  background: #005FA3;
  color: #FFFFFF;
}

.items-about-us__item:hover .items-about-us__link {
  color: #FFFFFF;
}

.items-about-us__block {
  padding: 30px 40px 40px;
  background: #EBEBEB;
  height: 255px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: background 0.3s ease 0s;
  -o-transition: background 0.3s ease 0s;
  transition: background 0.3s ease 0s;
}

.items-about-us__block *:last-child {
  margin: 0px 0px 0px 0px;
}

.items-about-us__number {
  font-weight: 900;
  font-size: 55px;
  line-height: 120%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin: 0px 0px 30px 0px;
}

.items-about-us__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-weight: 700;
  font-size: 14px;
  line-height: 128.57143%;
}

.items-about-us__link {
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-weight: 700;
  font-size: 14px;
  line-height: 121.42857%;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #005FA3;
}

.clients {
  background: #EBEBEB;
  padding: 100px 0px;
}

.clients__wrapper {
  position: relative;
  min-height: 200px;
}

.reviews {
  padding: 140px 0px;
}

.reviews__title {
  margin: 0px 0px 80px 0px;
}

.reviews__wrapper {
  position: relative;
  min-height: 100%;
}

.reviews__block {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 110px;
}

.slider-reviews {
  height: 74.4186%;
}

.slider-reviews__swipe {
  background: #EBEBEB;
  padding: 45px 95px;
}

.slider-reviews__text {
  margin: 0px 0px 55px 0px;
}

.slider-reviews__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider-reviews__avatar {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 80px;
          flex: 0 0 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0px 35px 0px 0px;
}

.slider-reviews__avatar img {
  width: 100%;
}

.slider-reviews__user-info {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.slider-reviews__user-name {
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
}

.slider-reviews__user-work {
  font-size: 14px;
}

.contact__opacity {
  min-height: 623px;
  background: rgba(0, 0, 0, 0.8);
  position: relative;
  z-index: 1;
}

.contact__container {
  padding: 120px 0px 140px 0px;
  position: relative;
  z-index: 2;
}

.contact__connection {
  margin: 0px 0px 60px 0px;
}

.contact__form {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 49.09091%;
          flex: 0 1 49.09091%;
}

.connection-contact {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 42.72727%;
          flex: 0 1 42.72727%;
}

.connection-contact__title {
  font-family: Merriweather;
  font-weight: 900;
  font-size: 48px;
  line-height: 143.75%;
  color: #FFFFFF;
  margin: 0px 0px 60px 0px;
}

.connection-contact__subtitle {
  color: #FFFFFF;
  margin: 0px 0px 80px 0px;
}

.connection-contact__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.connection-contact__link {
  display: block;
  font-size: 21px;
  line-height: 138.09524%;
  color: #FFFFFF;
}

.connection-contact__link::before {
  display: inline-block;
  font-size: 18px;
  margin: 0px 15px 0px 0px;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@media (min-width: 479.98px) {
  .form__btn {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

@media (min-width: 767.98px) {
  .clients__wrapper {
    min-height: 240px;
  }
}

@media (min-width: 991.98px) {
  .slider-button-prev:hover {
    background: #005FA3;
  }

  .slider-button-prev_gray:hover {
    background: rgba(255, 255, 255, 0.4);
  }

  .slider-button-next:hover {
    background: #005FA3;
  }

  .slider-button-next_gray:hover {
    background: rgba(255, 255, 255, 0.4);
  }

  .contacts-list-menu__link:hover,
  .contacts-list-menu__link:focus {
    border-bottom: 1px solid #000;
  }

  .contacts-list-menu__link_no-hover:hover,
  .contacts-list-menu__link_no-hover:focus {
    border-bottom: 1px solid transparent;
  }

  .sections-list-menu__link:hover,
  .sections-list-menu__link:focus {
    color: #034370;
  }

  .about-us__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .about-us__company {
    padding: 0px 15px 0px 0px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 40%;
            flex: 0 1 40%;
  }

  .items-about-us {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .contact__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .contact__connection {
    margin: 0px;
  }
}

@media (min-width: 992px) {
  .btn:hover {
    background: #024372;
  }

  .content-specialization:hover .content-specialization__opaciti,
  .content-specialization:focus .content-specialization__opaciti {
    background: rgba(0, 95, 163, 0.65);
  }
}

@media (max-width: 1122px) {
  ._container {
    max-width: 970px;
  }

  .header__row {
    height: 100px;
  }

  .logo-header__link {
    margin: 0px 20px 0px 0px;
  }

  .contacts-list-menu__ico {
    margin: 0px 10px 0px 0px;
  }

  .sections-list-menu li {
    margin: 0px 50px 0px 0px;
  }

  .services {
    padding: 100px 0px 0px 0px;
  }

  .specialization {
    padding: 120px 0px 90px 0px;
  }

  .specialization__title {
    margin: 0px 0px 80px 0px;
  }

  .about-us {
    padding: 120px 0px 90px 0px;
  }

  .reviews {
    padding: 120px 0px;
  }

  .reviews__title {
    margin: 0px 0px 60px 0px;
  }

  .contact__container {
    padding: 100px 0px 120px 0px;
  }

  .connection-contact__link {
    font-size: 18px;
  }
}

@media (max-width: 991.98px) {
  ._container {
    max-width: 750px;
  }

  .slider-dotts_gray {
    bottom: 80px;
  }

  .slider-button-prev_gray {
    bottom: 80px;
  }

  .slider-button-next_gray {
    bottom: 80px;
  }

  .header._scroll .header__row {
    height: 60px;
  }

  .header__row {
    height: 80px;
  }

  .logo-header__name {
    font-size: 28px;
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(235, 235, 235, 0.98);
    padding: 100px 15px 30px 15px;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
  }

  .menu__body::before {
    content: '';
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    background-color: #fff;
    height: 80px;
    z-index: 2;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
  }

  .menu__body._active {
    left: 0;
  }

  .menu__body._active::before {
    left: 0;
  }

  .contacts-list-menu li {
    margin: 0px 0px 20px 0px;
    padding: 0px 10px 0px 10px;
  }

  .sections-list-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .sections-list-menu li {
    margin: 0px 0px 30px 0px;
  }

  .sections-list-menu__link {
    font-size: 20px;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
  }

  .icon-menu span:first-child {
    top: 0px;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }

  .icon-menu._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu._active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .icon-menu._active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .services {
    padding: 80px 0px 0px 0px;
  }

  .slider-services__wrapper {
    min-height: 570px;
  }

  .slider-services__container {
    padding: 120px 0px 100px 0px;
  }

  .slider-services__title {
    font-size: 38px;
  }

  .specialization {
    padding: 100px 0px 70px 0px;
  }

  .specialization__title {
    margin: 0px 0px 60px 0px;
  }

  .specialization__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .about-us {
    padding: 100px 0px 70px 0px;
  }

  .about-us__company {
    margin: 0px 0px 40px 0px;
  }

  .company-about-us__title {
    margin: 0px 0px 40px 0px;
  }

  .clients {
    padding: 80px 0px;
  }

  .reviews {
    padding: 100px 0px;
  }

  .reviews__title {
    margin: 0px 0px 40px 0px;
  }

  .contact__container {
    padding: 80px 0px 100px 0px;
  }

  .connection-contact__title {
    margin: 0px 0px 30px 0px;
  }

  .connection-contact__subtitle {
    margin: 0px 0px 40px 0px;
  }
}

@media (max-width: 991.98px) and (max-width: 767.98px) {
  .menu__body {
    padding: 80px 15px 30px 15px;
  }

  .menu__body::before {
    height: 60px;
  }
}

@media (max-width: 767.98px) {
  ._container {
    max-width: none;
    padding: 0 15px;
  }

  .title__forehead {
    font-size: 18px;
    margin: 0px 0px 25px 0px;
  }

  .title__text {
    font-size: 38px;
  }

  .slider-dotts {
    left: 50%;
    -webkit-transform: translateX(-65%);
        -ms-transform: translateX(-65%);
            transform: translateX(-65%);
  }

  .slider-dotts_gray {
    bottom: 30px;
  }

  .slider-button-prev {
    display: none;
  }

  .slider-button-next {
    display: none;
  }

  .header__row {
    height: 60px;
  }

  .services {
    padding: 60px 0px 0px 0px;
  }

  .slider-services__wrapper {
    min-height: 500px;
  }

  .slider-services__container {
    padding: 80px 15px 80px 15px;
  }

  .slider-services__button {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }

  .specialization {
    padding: 70px 0px 40px 0px;
  }

  .specialization__title {
    margin: 0px 0px 40px 0px;
  }

  .about-us {
    padding: 70px 0px 40px 0px;
  }

  .clients {
    padding: 50px 0px;
  }

  .slider__slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .reviews {
    padding: 70px 0px;
  }

  .reviews__title {
    margin: 0px 0px 25px 0px;
  }

  .reviews__block {
    height: 80px;
  }

  .slider-reviews__swipe {
    padding: 25px 65px;
  }

  .contact__container {
    padding: 50px 20px 70px;
  }

  .connection-contact__title {
    font-size: 38px;
    margin: 0px 0px 15px 0px;
  }

  .connection-contact__subtitle {
    font-size: 15px;
    margin: 0px 0px 20px 0px;
  }
}

@media (max-width: 640px) {
  .contacts-list-menu {
    margin: 0px 0px 5px 0px;
  }

  .contacts-list-menu li {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 550px) {
  .specialization__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin: 0px 0px 20px 0px;
  }
}

@media (max-width: 479.98px) {
  body {
    font-size: 14px;
  }

  .title__forehead {
    font-size: 16px;
    margin: 0px 0px 20px 0px;
  }

  .title__text {
    font-size: 26px;
  }

  .slider-dotts {
    -webkit-transform: translateX(-75%);
        -ms-transform: translateX(-75%);
            transform: translateX(-75%);
  }

  .slider-dotts .swiper-pagination-bullet {
    margin: 0px 25px 0px 0px;
  }

  .slider-services__title {
    font-size: 30px;
  }

  .items-about-us__item {
    margin: 0px 0px 20px 0px;
  }

  .slider-reviews__swipe {
    padding: 20px 45px;
  }

  .slider-reviews__text {
    margin: 0px 0px 40px 0px;
  }

  .connection-contact__title {
    font-size: 30px;
  }

  .connection-contact__subtitle {
    font-size: 14px;
  }

  .connection-contact__contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .connection-contact__link {
    margin: 0px 0px 20px 0px;
  }

  .connection-contact__link:last-child {
    margin: 0px 0px 0px 0px;
  }
}

@media (max-width: 425px) {
  .slider-services__title {
    font-size: 26px;
  }
}

@media (max-width: 365px) {
  .contacts-list-menu li {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}